.tableCalculator{
    border:1px solid gray;
    margin:0;
    padding:0;
    width:250px;
    text-align:center;
}
.tableCalculator input{
    border:1px solid gray;
    width:30px;
    margin:4px;
}
#btnWide{
    width:80px;
}
#mainField{
    width:250px;
}